body {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#getCurrent,
#getForecast {
    margin: 10px 0;
}

#current,
#forecast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}